body{
  background-color: hotpink;

}
#container{
  width: 500px;
  height: 300px;
  margin-top: 300px;
  text-align: center;
}
#title{
  color: white;
}
#sub-container{
  width: 100%;
  height: 300px;
  background-color: white;
  border-radius: 20px;
  border: 5px solid #ffffe0;
}
#list-group{
  padding-top: 20px;
}
.list-group-item{
  
  border: none !important;
  border-bottom: 1px solid gray !important;
  border-radius: 0px !important;
}
#button{
  margin-top: 20px;
  border-radius: 20px;
}
#buttonJ{
  background-color: purple;
  color: white;
  
}